@charset "UTF-8";
/* Обнуляющий стиль */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

/* ================================================================ */
* {
  font-family: 'Montserrat', sans-serif;
}

.auth {
  margin: 50px auto;
  padding: 30px 20px 10px 20px;
  max-width: 500px;
  max-height: 600px;
  border: 1px solid #333;
  border-radius: 12px;
}

.auth input {
  outline: none;
}

.auth button {
  cursor: pointer;
}

.auth__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.auth__login input {
  padding: 5px;
  border-radius: 7px;
  border: 1px solid #33333352;
}

.auth__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 20px;
}

.auth__username {
  margin-bottom: 20px;
}

.auth__password {
  margin-bottom: 15px;
}

.auth__submit {
  padding: 15px;
  border-radius: 10px;
  background-color: #353535;
  color: aliceblue;
  font-weight: 700;
  margin-bottom: 25px;
}

.auth__submit:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background-color: #424141;
}

.auth__reg-button {
  margin-bottom: 2px;
  background-color: #f8f8f8;
  font-weight: 500;
  padding: 5px;
  border-radius: 8px;
  letter-spacing: 3.5px;
}

.auth__reg-button:hover {
  background-color: #eeecec;
}

.auth__registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.auth__error-state {
  margin-top: 3px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

.errorState {
  color: red;
}

.account {
  margin: 50px auto;
  padding: 15px 20px;
  max-width: 500px;
  max-height: 600px;
  border: 1px solid #333;
  border-radius: 12px;
}

.account__body {
  display: flex;
  flex-direction: column;
}

.account__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
}

.account__name {
  margin-bottom: 10px;
}

.account__role {
  margin-bottom: 30px;
}


.account__username,
.account__user-roles {
  font-weight: 500;
}

.account__exit {
  padding: 10px 7px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}


/*AdminPanel*/

.users {
  margin: 50px auto;
  max-width: 500px;
}

.users__title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

table {
  margin: auto auto;
  border: 1px solid #333;
  border-collapse: collapse;
}

tr {
  transition: all 0.3s ease;
}

th {
  padding: 3px;
  border-bottom: 1px solid grey;
  font-weight: 500;
  font-size: 18px;
  background-color: #ffffff;
}

td {
  padding: 10px 15px;
  text-align: center;
  border-bottom: 1px solid #333;
}

tr:nth-child(even) {
  background-color: rgb(228, 240, 255);
}

tr:nth-child(odd) {
  background-color: rgb(255, 255, 226);
}

td.role {
  font-weight: 500;
}

.users__action-cnt {
  padding: 5px;
}

.users__delete-btn {
  background-color: #be3333;
  color: aliceblue;
  cursor: pointer;
  padding: 5px 9px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 6px;
}

.users__edit-btn {
  background-color: #f5e93c;
  color: rgb(43, 44, 44);
  border: 1px solid #33333318;
  cursor: pointer;
  padding: 5px 11px;
  font-weight: 500;
  font-size: 13px;
  border-radius: 6px;
}

.check {

  transform: translateX(-80%);
  opacity: 0;
  transition: all 0.3s ease;
}

.edit-input {
  background-color: inherit;
  padding: 3px 2px;
  outline: none;
  border: 1px solid #33333327;
}



.edit-enter {
  background-color: green;
  border: none;
  color: white;
  padding: 3px;
  cursor: pointer;
}

.edit-enter i,
.edit-cancel i {
  font-size: 14px;
}

.edit-cancel i {
  color: rgb(228, 17, 17);
}

.edit-enter i {
  color: green;
}




button.btn.btn-outline-secondary {
  padding: 1px 6px;
}

button.btn.btn-outline-secondary:hover {
  background-color: #c8caca;
}

td.users__username>div>input {
  padding: 3px;
  font-size: 14px;
}

td.users__username>div>input:focus {
  outline: none;
  box-shadow: 0px 5px 10px 17px rgba(163, 215, 255, 0.2);
}


.btn-outline-secondary {
  font-size: 3px;
}

.users__thTitle {
  text-align: center;
}